/* forum-app/frontend/src/index.css */

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #1c1c1c; /* Almost black for text */
  background-color: #f7f7f7; /* Very light gray page background */
}

/* Important reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}